@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    font-size: 16px;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    /* font-family: 'Kanit'; */
    font-weight: 400 !important;
}

.tooltip-inner {
    font-size: 0.875rem !important;
}

:root {
    /* --main-color: #3f5a83; */
    /* --main-color: #005fbc; */
    --main-color: #e1032b;
}
.custom-icon path {
    fill: var(--main-color) !important;
}

.text-custom {
    color: var(--main-color) !important;
}

.text-gray {
    color: #90969e;
}

.bg-red {
    background-color: var(--main-color) !important;
}

.outline-gray {
    border: 1px solid #90969e !important;
    color: #90969e !important;
}

.outline-gray:hover {
    background-color: #90969e !important;
    color: white !important;
}

.outline-red {
    border: 1px solid var(--main-color) !important;
    color: var(--main-color) !important;
}

.outline-red:hover {
    background-color: var(--main-color) !important;
    color: white !important;
}

.outline-red:hover path {
    fill: white !important;
}

.outline-red:hover .x-red {
    fill: var(--main-color) !important;
}

.hov-red:hover svg path {
    fill: white !important;
}

.active svg path {
    fill: white !important;
}

.outline-hov-red:hover path {
    fill: #e1032b !important;
}

.img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid var(--main-color);
}

.rounded-custom {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.rounded-custom:hover path {
    stroke: var(--main-color) !important;
}

.rounded-active {
    background-color: var(--main-color) !important;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.rounded-active path {
    stroke: white !important;
}

.bg-grays-200 {
    background-color: #8d969b30 !important;
}

#img-upload {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.outline-black:hover {
    border: 1px solid var(--main-color) !important;
    color: var(--main-color) !important;
}

.bg-custom {
    background-color: var(--main-color) !important;
    color: white !important;
}

.modal-open.in {
    opacity: 0.5 !important;
}

.border-left {
    border-radius: 8px 0 0 8px;
}

.border-right {
    border-radius: 0 8px 8px 0;
}

.th-custom {
    color: white !important;
    background-color: transparent !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-collapse: collapse;
    overflow: hidden;
}

.tr-custom {
    line-height: 40px;
    min-height: 30px;
    height: 30px;
}

.tb-hov:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.text-gray {
    color: #212121 !important;
}

.tb-hov:hover td {
    color: var(--main-color);
}

.btn-std {
    height: 50px;
}

.cursor-p {
    cursor: pointer;
}

.upload-box {
    position: relative;
    text-align: center;
    border: 1px black dotted;
}

.file-upload {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.text-overflow-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.hov-outline-red:hover path {
    stroke: var(--main-color) !important;
}
.footer {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    margin-left: -48px !important;
    margin-right: -48px !important;
    overflow: hidden;
    
    z-index: 99;
}

.hov-outline-red:hover path {
    stroke: var(--main-color) !important;
}

.custom-icon path {
    fill: var(--main-color) !important;
}

.hov-fill-red:hover path {
    fill: var(--main-color) !important;
}

.shadow-top {
    box-shadow: 0px -2px 6px #dfdfdf;
}
