@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
}

.tooltip-inner {
    font-size: 0.875rem !important;
}

:root {
    --main-color: #dd4170;
}

.text-custom {
    color: var(--main-color) !important;
}

.text-gray {
    color: #90969e;
}

.bg-red {
    background-color: var(--main-color) !important;
}

.outline-gray {
    border: 1px solid #90969e !important;
    color: #90969e !important;
}

.outline-gray:hover {
    background-color: #90969e !important;
    color: white !important;
}

.outline-red {
    border: 1px solid var(--main-color) !important;
    color: var(--main-color) !important;
}

.outline-red:hover {
    background-color: var(--main-color) !important;
    color: white !important;
}

.outline-red:hover path {
    fill: white !important;
}

.outline-red:hover .x-red {
    fill: var(--main-color) !important;
}